<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Supplier</title>
</head>
<body>
 <h2>Supplier Register</h2>
<form action="/supplier/register" method="POST">
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Password" required>
  <button type="submit">Register</button>
</form>
</body>
</html>