<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Vendor Dashboard</h2>
<table border="1">
  <tr><th>Supplier Name</th><th>Item Name</th><th>Price</th></tr>
  <% items.forEach(item => { %>
    <tr>
      <td><%= item.supplier_name %></td>
      <td><%= item.item_name %></td>
      <td>₹<%= item.price %></td>
    </tr>
  <% }) %>
</table>
</body>
</html>